.containerMap {
  box-sizing: border-box;
}
.main {
  position: relative;
  height: 100vh;
}

.backgroundCanvas {
  background-image: url(/australia-map.jpg);
  background-repeat: no-repeat;
}
.input {
  z-index: 2;
  top: 764px;
  left: 1614px;
  position: absolute;
}
.btn {
  display: grid;
  grid-template: auto auto / auto auto auto;
  grid-template-areas:
    ". up ."
    "left down right";
  grid-gap: 8px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.btn button {
  cursor: pointer;
  font-size: 16px;
  width: 60px;
  height: 40px;
  background: var(--main-background-color);
  color: var(--button-color);
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease all;
}
.btn button:hover {
  background: var(--main-background-color);
  color: #fff;
}

.btn button:first-child {
  grid-area: up;
}

.btn button:nth-child(2) {
  grid-area: left;
}

.btn button:nth-child(3) {
  grid-area: down;
}

.btn button:last-child {
  grid-area: right;
}

.img {
  display: none;
}
