.backgroundCanvas {
  background-image: url(/images/australia-map.jpg);
  background-repeat: no-repeat;
  background-color: var(--main-background-color);
}
.input {
  z-index: 2;
  top: 764px;
  left: 1614px;
  position: absolute;
  right: 20px;
}
.text {
  z-index: 2;
  position: absolute;
  text-align: center;
  font-size: 2em;
  font-family: "Chilanka", cursive;
  font-weight: bold;
  color: #2537c7;
  padding: 0.3em;
  border: solid black 2px;
  background-color: white;
  margin: 2rem 7rem 0 2rem;
}
.btn {
  display: grid;
  grid-template: auto auto / auto auto auto;
  grid-template-areas:
    ". up ."
    "left down right";
  grid-gap: 8px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.btn button {
  cursor: pointer;
  font-size: 16px;
  width: 60px;
  height: 40px;
  background: var(--main-background-color);
  color: var(--button-color);
  border-radius: 8px;
  transition: 0.3s ease all;
  border: double 2px black;
}
.btn button:hover {
  background: var(--main-background-color);
  color: #fff;
}

.btn button:first-child {
  grid-area: up;
}

.btn button:nth-child(2) {
  grid-area: left;
}

.btn button:nth-child(3) {
  grid-area: down;
}

.btn button:last-child {
  grid-area: right;
}

.img {
  display: none;
}
