.btn {
  border-radius: 2em;
  font-size: 2.25rem;
  background-color: var(--button-color);
  border: none;
  font-family: "Chilanka", cursive;
  height: 5rem;
  box-shadow: 0.01px 7px 16px -2px rgba(0, 0, 0, 0.69),
    0.01px 7px 16px -2px rgba(0, 0, 0, 0.69);
  text-align: center;
}
.primary {
  width: 3em;
  z-index: 2;
  transition: 0.3s ease all;
  border: double 2px black;
}
.primary:hover {
  background: var(--main-background-color);
  color: #fff;
}
