.background {
  display: grid;
  background-image: url(/natureland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}
.imgalbert {
  grid-column: 2;
  grid-row: 4;
}
.imgkookie {
  grid-column: 3;
  grid-row: 5;
}
.speechbubble {
  grid-column: 2 /3;
  grid-row: 3;
  align-self: center;
}
.speechkookie {
  grid-column: 3;
  grid-row: 4;
  align-self: center;
}
