.background {
  background: #50c4b7;
  display: grid;
  justify-items: center;
  height: 100vh;
  align-items: center;
}
.headline {
  font-family: "AlmondCream", sans-serif;
  color: #707070;
  font-size: 3.75rem;
  text-align: center;
}
