.background {
  background-position: center center;
  position: relative;
  background-image: url(/naturescene.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: var(--main-background-color);
}

.imgalbert {
  position: absolute;
  bottom: 4%;
  width: 8em;
  left: 25em;
}
.imgkookie {
  position: absolute;
  width: 10em;
  top: 73%;
  left: 70%;
}
.speechbubble {
  position: absolute;
  top: 60%;
  left: 24%;
  width: 26em;
}
.speechkookie {
  position: absolute;
  top: 58%;
  left: 68%;
  width: 21em;
}

.quiz {
  position: absolute;
  top: 30%;
  left: 46%;
  width: 20em;
}
