.background {
  background: #50c4b7;
  overflow: hidden;
}

.headline {
  font-family: "AlmondCream", sans-serif;
  color: var(--secondary-font-color);
  font-size: 9em;
  text-align: center;
  margin-top: 0.4em;
}

.box {
  font-size: 1.5em;
  font-family: "Franklin Gothic", sans-serif;
  border: #707070 solid 6px;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  width: 50vw;
  margin-left: 18em;
}

.img {
  width: 50vh;
  margin-left: 40em;
}
