.background {
  background-color: var(--main-background-color);
  overflow: hidden;
  height: 100vh;
}

.headline {
  font-family: "AlmondCream", sans-serif;
  color: #707070;
  font-size: 3.75rem;
  text-align: center;
  margin: 0;
  padding: 1em;
}
.textbox {
  border: #707070 solid 2px;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.8em;
  border-radius: 40px;
  padding: 2em;
  -webkit-transform: translate(0%, -10%);
  transform: translate(0%, -10%);
  margin: 0 5em;
}
.arrow {
  position: relative;
  left: 40%;
  width: 10vw;
  bottom: 0%;
}
.img {
  width: 35vw;
  vertical-align: center;
  transform: translate(93%, -14%);
}

.audio {
  width: 20vw;
  transform: translate(140%, -10%);
  height: 10vh;
}
