.App {
  text-align: center;
  font-family: "Chilanka", cursive;
  display: grid;
  grid-template-columns: 1fr;
  background: var(--main-background-color);
  color: var(--secondary-font-color);
  width: 100vw;
  height: 100vh;
}

.subheadline {
  font-size: 2.6rem;
}

.headline {
  font-family: "Almond Cream", sans-serif;
  font-size: 4em;
}
.btn {
  display: grid;
  grid-row-gap: 2em;
  width: 50vw;
  justify-self: center;
}
.map {
  justify-self: flex-end;
}
.output {
  font-size: 2.6rem;
  color: purple;
  font-weight: bold;
  margin-top: 3rem;
}
