.App {
  font-family: "Chilanka", cursive;
  background: var(--main-background-color);
  color: var(--secondary-font-color);
  padding: 4rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.subheadline {
  font-size: 2.6rem;
}

.headline {
  font-family: "Almond Cream", sans-serif;
  font-size: 4em;
}
.btn {
  display: grid;
  grid-row-gap: 6em;
  text-align: center;
}
.map {
  justify-self: flex-end;
}
.output {
  font-size: 2.6rem;
  color: purple;
  font-weight: bold;
  margin-top: 3rem;
}
