@font-face {
  font-family: "AlmondCream";
  src: url(/AlmondCream.woff) format("woff");
}

@font-face {
  font-family: "FranklinGothic";
  src: url(/FranklinGothic.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
:root {
  --main-background-color: #50c4b7;
  --secondary-color: #fff;
  --link-color: #674b14;
  --font-color: #000;
  --quiz-button-color: #2537c7;
  --quiz-button-false-color: #f80606;
  --quiz-button-true-color: #699716;
  --button-color: #f2d166;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
